

/*==================== GLOBAL ========================*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'DM Sans';
} 

a{
  text-decoration: none;
}

li{
  list-style: none;
}

:root{

  --nav-height: 4rem;

  /*====== Cor ====== */
  --background-primary: hsl(257, 100%, 93%);
  --background-second:  hsl(180, 14%, 97%);

  --first-color: hsl(255, 53%, 50%);
  --second-color: hsl(255, 77%, 45%);
  --title-color: hsl(210, 11%, 15%);
  --text-color-second:  hsl(210, 9%, 31%);

  --stats-color: hsl(39, 100%, 97%);

  --scrollbar-color: hsl(257, 100%, 93%);

  /*====== font-size ====== */
  --h1-font-size: 2.2rem;
  --h2-font-size: 1.7rem;
  --h3-font-size: 1.3rem;
  --h4-font-size: 0.875rem;
  --text-font-size: 1rem;

 /*====== margins-bottom ====== */
 --mb-1: 1rem;
 --mb-1-5: 1.5rem;
 --mb-2: 2rem;
 --mb-2-5: 2.5rem;
 --mb-3: 3rem;
 --mb-3-5: 3.5rem;

/*====== Font Weight ====== */
 --font-regular: 400;
 --font-bold: 700;
}

/*============ SCROLL BAR =========================*/

body::-webkit-scrollbar {
  width: 8px;  
  background-color: var(--scrollbar-color);           
}

body::-webkit-scrollbar-thumb {
  background-color: var(--first-color);  
  border-radius: 1px;      
}

/*============ SCROLL TOP =========================*/
.back-top {
  background: var(--first-color);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: 0.2rem;
  clip-path: circle();
  font-size: 1rem;
  line-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
  z-index: 200;
}

.back-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*============ MEDIA =========================*/
@media (min-width: 1200px){

 :root{
  --h1-font-size: 3.2rem;
  --h2-font-size: 2.5rem;
  --text-font-size: 1.2rem;
 }

}
